:root{
  --background:hsl(0, 0%, 98%);
  --shadow:hsl(0, 0%, 52%)
}

body[data-mode="dark"]{
  --background:hsl(0, 0%, 25%);
  --shadow:hsl(0, 0%, 95%);
}
.mainDiv{
  display: flex;
  flex-wrap: wrap;
}
.Header {
  background:var(--background);
  height: 10vh;
  box-shadow: 3px 3px 3px var(--shadow);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* padding-left: 10px;
    padding-right: 10px; */
  padding: 0px 50px 0px 50px;
  max-width: 100%;
}
.mode {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.mode span {
  margin: 10px;
}
.world {
  font-weight: bold;
}

