.searchcont {
  margin: 50px;
  display: flex;
}
.searchBox {
  width: 350px;
  padding: 5px;
  border-radius: 5px;
  background: hsl(0, 0%, 98%);
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 2px 2px hsl(0, 0%, 52%);
  position: relative;
}

.selectItem {
  width: 150px;
  height: 40px;
  padding: 5px;
  border-radius: 5px;
  background: hsl(0, 0%, 98%);
  box-shadow: 2px 2px 2px 2px hsl(0, 0%, 52%);
}
.TextBox {
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  border: none;

  height: 40px;
  padding-left: 40px;
}
.searchIcon {
  position: absolute;
  left: 15px;
}

.select {
  margin-left: auto;
}

@media (min-width: 576px) {
  .searchBox {
    width: 150px;
  }
  .selectItem {
    width: 80px;
  }
}
@media (min-width: 768px) {
  .searchBox {
    width: 200px;
  }
  .selectItem {
    width: 100px;
  }
}
@media (min-width: 992px) {
  .searchBox {
    width: 300px;
  }
  .selectItem {
    width: 120px;
  }
}
@media (min-width: 1200px) {
  .searchBox {
    width: 350px;
  }
  .selectItem {
    width: 150px;
  }
}
