.searchcont {
  margin: 50px;
  display: flex;
}
.searchBox {
  width: 350px;
  padding: 5px;
  border-radius: 5px;
  background:var(--background);
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 2px 2px var(--shadow);
  position: relative;
}

.selectItem {
  width: 150px;
  height: 40px;
  padding: 5px;
  border-radius: 5px;
  background: var(--background);
  box-shadow: 2px 2px 2px 2px var(--shadow);
}
.TextBox {
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  border: none;

  height: 40px;
  padding-left: 40px;
}
.searchIcon {
  position: absolute;
  left: 15px;
}

.select {
  margin-left: auto;
}

/* @media (min-width: 576px) {
  
}
@media (min-width: 768px) {
  
}
@media (min-width: 992px) {
  
}
@media (min-width: 1200px) {
 
} */
